In [36]:
import numpy as np
import pandas as pd
from pathlib import Path

In [37]:
base_path = Path.cwd()
df = pd.read_csv(base_path / 'hotel_bookings.csv') #read in dirty data set

In [38]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [39]:
df.shape

(119390, 32)

In [40]:
df.isnull().sum() #check null values\

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [41]:
df['country'] = df['country'].fillna('unknown')
df['agent'] = df['agent'].fillna(0)
df['children'] = df['children'].fillna(df['children'].mean())

In [42]:
df.drop(['company'], axis='columns', inplace=True) #drop whole columns because almost whole column was null

In [43]:
df.isnull().sum() #recheck null values

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [44]:
df.info() #check data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119390 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         119390 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           119390 non-null  float64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
dtypes: float64(3), int64(16), object(12)
memory usage: 28.2+ MB

In [45]:
cols1 = ['hotel', 'arrival_date_month', 'meal', 'country',               
        'market_segment', 'distribution_channel',
        'reserved_room_type', 'assigned_room_type',
        'deposit_type', 'customer_type', 'reservation_status']
df[cols1] = df[cols1].astype('category')

cols2 = ['children', 'agent']
df[cols2] = df[cols2].astype(int)

df['reservation_status_date'] = df['reservation_status_date'].astype('datetime64[ns]')

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  category
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  category
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119390 non-null  int64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  category
 13  country                         119390 non-null  category
 14  market_segment                  119390 non-null  category
 15  distribution_channel            119390 non-null  category
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  category
 20  assigned_room_type              119390 non-null  category
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  category
 23  agent                           119390 non-null  int64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  category
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  category
 30  reservation_status_date         119390 non-null  datetime64[ns]
dtypes: category(11), datetime64[ns](1), float64(1), int64(18)
memory usage: 19.6 MB

In [47]:
df.duplicated().sum() #checking how many duplicates, duplicates in this data set would mean double bookings

np.int64(32001)

In [48]:
df = df.drop_duplicates() #found 32,000 duplcate rows, dropped them

In [49]:
df.duplicated().sum()
df['deposit_type'].value_counts()

deposit_type
No Deposit    86244
Non Refund     1038
Refundable      107
Name: count, dtype: int64

In [50]:
#feature engineering/filtering
df['total_nights_stayed'] = df['stays_in_week_nights'] + df['stays_in_weekend_nights'] # create total nights stayed column
df[(df['total_nights_stayed'] == 0) & (df['is_canceled'] == 1) & (df['deposit_type'] == 'No Deposit')] #check if this condtion exists, if it does we will drop these rows

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights_stayed
4127,Resort Hotel,1,0,2016,February,8,15,0,0,0,...,No Deposit,0,0,Transient,0.0,0,0,Canceled,2016-02-15,0
9376,Resort Hotel,1,0,2016,November,48,21,0,0,0,...,No Deposit,0,0,Group,0.0,0,0,Canceled,2016-11-21,0
10101,Resort Hotel,1,0,2017,February,7,12,0,0,1,...,No Deposit,240,0,Transient,0.0,0,0,Canceled,2017-02-12,0
19503,Resort Hotel,1,11,2015,December,52,23,0,0,2,...,No Deposit,241,0,Transient,0.0,0,1,No-Show,2015-12-23,0
19823,Resort Hotel,1,23,2016,January,2,4,0,0,2,...,No Deposit,314,0,Transient,0.0,0,0,No-Show,2016-01-04,0
22557,Resort Hotel,1,0,2016,March,14,28,0,0,1,...,No Deposit,184,0,Transient,0.0,0,0,Canceled,2016-03-28,0
22970,Resort Hotel,1,73,2016,April,16,12,0,0,1,...,No Deposit,0,0,Transient-Party,0.0,0,0,Canceled,2016-04-12,0
23734,Resort Hotel,1,29,2016,April,18,30,0,0,2,...,No Deposit,240,0,Transient,0.0,0,1,No-Show,2016-04-30,0
24660,Resort Hotel,1,6,2016,May,23,29,0,0,2,...,No Deposit,250,0,Transient,0.0,0,0,Canceled,2016-05-29,0
25333,Resort Hotel,1,7,2016,June,26,21,0,0,1,...,No Deposit,339,0,Transient,0.0,0,0,No-Show,2016-06-21,0
25564,Resort Hotel,1,123,2016,July,27,1,0,0,2,...,No Deposit,240,0,Transient,0.0,0,1,No-Show,2016-07-01,0
28550,Resort Hotel,1,10,2016,October,41,8,0,0,2,...,No Deposit,0,0,Transient-Party,0.0,0,1,No-Show,2016-10-08,0
46856,City Hotel,1,0,2016,January,4,22,0,0,1,...,No Deposit,0,0,Transient,0.0,0,0,Canceled,2016-01-22,0
50224,City Hotel,1,0,2016,April,18,27,0,0,1,...,No Deposit,0,0,Transient,0.0,0,2,Canceled,2016-04-27,0
56401,City Hotel,1,1,2016,September,37,5,0,0,2,...,No Deposit,0,0,Transient,0.0,0,0,Canceled,2016-09-05,0
61244,City Hotel,1,0,2016,December,50,6,0,0,0,...,No Deposit,0,0,Transient,0.0,0,0,Canceled,2016-12-06,0
65907,City Hotel,1,0,2017,April,15,10,0,0,0,...,No Deposit,0,0,Transient,0.0,0,0,Canceled,2017-04-10,0
67811,City Hotel,1,0,2017,May,19,8,0,0,1,...,No Deposit,0,0,Transient,0.0,0,0,Canceled,2017-05-08,0
72967,City Hotel,1,0,2017,August,32,11,0,0,0,...,No Deposit,0,0,Transient,0.0,0,0,Canceled,2017-08-11,0
83165,City Hotel,1,11,2016,January,4,22,0,0,2,...,No Deposit,9,0,Transient,0.0,0,1,No-Show,2016-01-22,0
83564,City Hotel,1,1,2016,February,6,6,0,0,1,...,No Deposit,9,0,Transient,0.0,0,0,No-Show,2016-02-06,0
84188,City Hotel,1,33,2016,February,8,20,0,0,2,...,No Deposit,9,0,Transient,0.0,0,1,Canceled,2016-02-20,0
84457,City Hotel,1,1,2016,February,9,26,0,0,1,...,No Deposit,9,0,Transient,0.0,0,0,No-Show,2016-02-26,0
84488,City Hotel,1,3,2016,February,9,26,0,0,1,...,No Deposit,9,0,Transient,0.0,0,1,No-Show,2016-02-26,0
85903,City Hotel,1,65,2016,March,13,23,0,0,2,...,No Deposit,9,0,Transient,0.0,0,0,No-Show,2016-03-23,0
91220,City Hotel,1,72,2016,June,25,17,0,0,2,...,No Deposit,0,0,Transient,0.0,0,1,No-Show,2016-06-17,0
104650,City Hotel,1,1,2017,February,5,1,0,0,1,...,No Deposit,0,0,Transient,0.0,0,1,No-Show,2017-02-01,0
106117,City Hotel,1,23,2017,February,8,21,0,0,2,...,No Deposit,14,0,Transient,0.0,0,0,Canceled,2017-02-21,0
110280,City Hotel,1,132,2017,April,17,25,0,0,0,...,No Deposit,9,0,Transient,0.0,0,3,Canceled,2017-04-25,0

In [51]:
df = df[~((df['total_nights_stayed'] == 0) & (df['deposit_type'] == 'No Deposit'))] #does exist so lets filter those rows out

In [52]:
df['adr'].describe()

count    86738.000000
mean       107.137183
std         54.439389
min         -6.380000
25%         72.750000
50%         99.000000
75%        134.300000
max       5400.000000
Name: adr, dtype: float64

In [53]:
df.groupby(['adr']).adr.max() #we see we have a negative average daily rate as well as an extreme 
#outlier 10 times the next max value, we will inspect these rows and determine if we will drop them

adr
-6.38         -6.38
 0.00          0.00
 0.26          0.26
 0.50          0.50
 1.00          1.00
             ...
 450.00      450.00
 451.50      451.50
 508.00      508.00
 510.00      510.00
 5400.00    5400.00
Name: adr, Length: 8879, dtype: float64

In [54]:
outlier = df[df['adr'] == 5400] 
##we see that they only stayed one night and spent 5400 in one night, this must
#be a mistake, so we will drop this row

In [55]:
df = df[df['adr'] < 5400] #dropped

In [56]:
df = df[df['adr'] > -6.38] #drop the negative value too

In [57]:
df['lead_time'].describe() #lead time of 737 is a bit extreme thats about 2 years, not insanely
#extreme so we will leave it

count    86736.000000
mean        80.270153
std         86.073471
min          0.000000
25%         12.000000
50%         50.000000
75%        125.000000
max        709.000000
Name: lead_time, dtype: float64

In [58]:
df['stays_in_week_nights'].describe() #50 stays is a bit long, but since we already got rid of 
#the only extreme ADR outlier, none of those trips will have abnormally large costs for their 
#length, we will leave this column

count    86736.000000
mean         2.645234
std          2.048584
min          0.000000
25%          1.000000
50%          2.000000
75%          4.000000
max         50.000000
Name: stays_in_week_nights, dtype: float64

In [59]:
df.groupby(['stays_in_week_nights']).stays_in_week_nights.value_counts()

stays_in_week_nights
0      5522
1     22185
2     20744
3     16259
4      7874
5      9663
6      1378
7       967
8       613
9       219
10      972
11       50
12       40
13       27
14       25
15       68
16       13
17        4
18        6
19       21
20       41
21       15
22        7
24        2
25        6
26        1
30        5
32        1
33        1
34        1
35        1
40        2
41        1
42        1
50        1
Name: count, dtype: int64

In [60]:
df['stays_in_weekend_nights'].describe()

count    86736.000000
mean         1.012844
std          1.032061
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max         19.000000
Name: stays_in_weekend_nights, dtype: float64

In [61]:
df[(df['adults'] == 0) & (df['children'] == 0)] #it does not make sense for a room to have just
#babies staying in it

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights_stayed
2224,Resort Hotel,0,1,2015,October,41,6,0,3,0,...,No Deposit,0,0,Transient-Party,0.00,0,0,Check-Out,2015-10-06,3
3181,Resort Hotel,0,36,2015,November,47,20,1,2,0,...,No Deposit,38,0,Transient-Party,0.00,0,0,Check-Out,2015-11-23,3
3684,Resort Hotel,0,165,2015,December,53,30,1,4,0,...,No Deposit,308,122,Transient-Party,0.00,0,0,Check-Out,2016-01-04,5
3708,Resort Hotel,0,165,2015,December,53,30,2,4,0,...,No Deposit,308,122,Transient-Party,0.00,0,0,Check-Out,2016-01-05,6
31765,Resort Hotel,0,31,2016,December,53,27,2,8,0,...,No Deposit,0,0,Transient,28.00,1,0,Check-Out,2017-01-06,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115029,City Hotel,0,107,2017,June,26,27,0,3,0,...,No Deposit,7,0,Transient,100.80,0,0,Check-Out,2017-06-30,3
115091,City Hotel,0,1,2017,June,26,30,0,1,0,...,No Deposit,0,0,Transient,0.00,1,1,Check-Out,2017-07-01,1
116251,City Hotel,0,44,2017,July,28,15,1,1,0,...,No Deposit,425,0,Transient,73.80,0,0,Check-Out,2017-07-17,2
116534,City Hotel,0,2,2017,July,28,15,2,5,0,...,No Deposit,9,0,Transient-Party,22.86,0,1,Check-Out,2017-07-22,7
117087,City Hotel,0,170,2017,July,30,27,0,2,0,...,No Deposit,52,0,Transient,0.00,0,0,Check-Out,2017-07-29,2

In [62]:
df = df[(df['adults'] > 0) | (df['children'] > 0)] #keep only rows where adults are greater than
#zero or rows where children are greater than zero because those two scenarios make sense
#and also allows the condition of having both children and adults greater than zero
df = df[~((df['adults'] == 0) & (df['children'] == 0) & (df['babies'] > 0))] #we dont want rows
#where there is no adults or children but babies present, that scenario makes no sense
df = df[~((df['adults'] == 0) & (df['children'] == 0) & (df['babies'] == 0))] #we also dont want rows
#where there is no occupants

In [63]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights_stayed
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,0,0,Transient,75.00,0,0,Check-Out,2015-07-02,1
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304,0,Transient,75.00,0,0,Check-Out,2015-07-02,1
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240,0,Transient,98.00,0,1,Check-Out,2015-07-03,2
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,0,0,Transient,107.00,0,0,Check-Out,2015-07-03,2
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303,0,Transient,103.00,0,1,Check-Out,2015-07-03,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394,0,Transient,96.14,0,0,Check-Out,2017-09-06,7
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9,0,Transient,225.43,0,2,Check-Out,2017-09-07,7
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9,0,Transient,157.71,0,4,Check-Out,2017-09-07,7
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89,0,Transient,104.40,0,0,Check-Out,2017-09-07,7
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9,0,Transient,151.20,0,2,Check-Out,2017-09-07,9

In [64]:
df_new = df[['hotel', 'country', 'reservation_status_date', 'total_nights_stayed', 'adr', 'adults', 'children', 'babies', 'required_car_parking_spaces', 'total_of_special_requests']]

In [65]:
df_new.head(10)

,hotel,country,reservation_status_date,total_nights_stayed,adr,adults,children,babies,required_car_parking_spaces,total_of_special_requests
2,Resort Hotel,GBR,2015-07-02,1,75.0,1,0,0,0,0
3,Resort Hotel,GBR,2015-07-02,1,75.0,1,0,0,0,0
4,Resort Hotel,GBR,2015-07-03,2,98.0,2,0,0,0,1
6,Resort Hotel,PRT,2015-07-03,2,107.0,2,0,0,0,0
7,Resort Hotel,PRT,2015-07-03,2,103.0,2,0,0,0,1
8,Resort Hotel,PRT,2015-05-06,3,82.0,2,0,0,0,1
9,Resort Hotel,PRT,2015-04-22,3,105.5,2,0,0,0,0
10,Resort Hotel,PRT,2015-06-23,4,123.0,2,0,0,0,0
11,Resort Hotel,PRT,2015-07-05,4,145.0,2,0,0,0,0
12,Resort Hotel,USA,2015-07-05,4,97.0,2,0,0,0,3

In [66]:
cleaned_data_set = df_new.to_csv('hotel_bookings_cleaned')

In [67]:
df_new2 = df_new.sort_values('total_nights_stayed', ascending=False)
df_new2.head(10)

,hotel,country,reservation_status_date,total_nights_stayed,adr,adults,children,babies,required_car_parking_spaces,total_of_special_requests
14038,Resort Hotel,unknown,2016-09-12,69,110.00,1,0,0,0,3
14037,Resort Hotel,unknown,2015-09-30,60,110.50,1,0,0,0,3
9839,Resort Hotel,PRT,2016-10-31,56,25.50,2,0,0,0,0
33924,Resort Hotel,GBR,2017-03-07,56,28.79,2,0,0,0,0
54704,City Hotel,PRT,2016-09-09,48,0.00,2,0,0,0,1
1655,Resort Hotel,ESP,2015-10-23,46,0.00,2,0,0,0,1
32589,Resort Hotel,GBR,2017-03-20,45,42.11,1,0,0,0,3
34898,Resort Hotel,GBR,2017-04-09,42,39.41,2,0,0,0,2
3850,Resort Hotel,GBR,2016-03-08,42,31.45,2,0,0,0,0
3820,Resort Hotel,PRT,2015-12-04,42,22.11,2,0,0,0,0