In [1]:
import sqlite3
import pandas as pd
from pathlib import Path

In [8]:
base_path = Path.cwd()
df = pd.read_csv(base_path/'hotel_bookings_cleaned')
#load data


con = sqlite3.connect('hotelDB.db')
#connect/create to database


df.to_sql('hotel_table', con , if_exists='replace', index=False)
#create table


cursor = con.cursor()
#create cursor


query_db = cursor.execute("SELECT * FROM hotel_table LIMIT 25")
get_all = query_db.fetchall()
print(get_all)
#query table

con.commit()
#commit changes
con.close()
#close connection

[(2, 'Resort Hotel', 'GBR', '2015-07-02', 1, 75.0, 1, 0, 0, 0, 0), (3, 'Resort Hotel', 'GBR', '2015-07-02', 1, 75.0, 1, 0, 0, 0, 0), (4, 'Resort Hotel', 'GBR', '2015-07-03', 2, 98.0, 2, 0, 0, 0, 1), (6, 'Resort Hotel', 'PRT', '2015-07-03', 2, 107.0, 2, 0, 0, 0, 0), (7, 'Resort Hotel', 'PRT', '2015-07-03', 2, 103.0, 2, 0, 0, 0, 1), (8, 'Resort Hotel', 'PRT', '2015-05-06', 3, 82.0, 2, 0, 0, 0, 1), (9, 'Resort Hotel', 'PRT', '2015-04-22', 3, 105.5, 2, 0, 0, 0, 0), (10, 'Resort Hotel', 'PRT', '2015-06-23', 4, 123.0, 2, 0, 0, 0, 0), (11, 'Resort Hotel', 'PRT', '2015-07-05', 4, 145.0, 2, 0, 0, 0, 0), (12, 'Resort Hotel', 'USA', '2015-07-05', 4, 97.0, 2, 0, 0, 0, 3), (13, 'Resort Hotel', 'ESP', '2015-07-05', 4, 154.77, 2, 1, 0, 0, 1), (14, 'Resort Hotel', 'PRT', '2015-07-05', 4, 94.71, 2, 0, 0, 0, 0), (15, 'Resort Hotel', 'IRL', '2015-07-05', 4, 97.0, 2, 0, 0, 0, 3), (16, 'Resort Hotel', 'PRT', '2015-07-05', 4, 97.5, 2, 0, 0, 0, 0), (17, 'Resort Hotel', 'IRL', '2015-07-02', 1, 88.2, 2, 0, 0, 0, 0), (18, 'Resort Hotel', 'FRA', '2015-07-02', 1, 107.42, 2, 0, 0, 0, 0), (19, 'Resort Hotel', 'GBR', '2015-07-05', 4, 153.0, 2, 0, 0, 0, 1), (20, 'Resort Hotel', 'GBR', '2015-07-06', 5, 97.29, 1, 0, 0, 0, 1), (21, 'Resort Hotel', 'PRT', '2015-07-07', 6, 84.67, 2, 0, 0, 0, 1), (23, 'Resort Hotel', 'PRT', '2015-07-07', 6, 99.67, 2, 0, 0, 0, 1), (24, 'Resort Hotel', 'GBR', '2015-07-01', 7, 94.95, 2, 0, 0, 0, 1), (25, 'Resort Hotel', 'PRT', '2015-07-08', 7, 63.6, 2, 0, 0, 1, 0), (26, 'Resort Hotel', 'IRL', '2015-07-08', 7, 79.5, 2, 0, 0, 0, 0), (27, 'Resort Hotel', 'PRT', '2015-05-11', 7, 107.0, 2, 0, 0, 0, 2), (28, 'Resort Hotel', 'PRT', '2015-07-08', 7, 94.0, 2, 0, 0, 0, 0)]

c:\Users\phill\Hotel database